In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

import pandas as pd

In [3]:
corpus = [
     'This is the first document.',
     'This document is the second document.',
     'And this is the third one.',
     'Is this the first document?',
 ]

In [48]:
vectorizer = TfidfVectorizer()
vector1=vectorizer.fit_transform(corpus)
feature_nam=vectorizer.get_feature_names()
dense1=vector1.todense()
denselist1=dense1.tolist()
df1=pd.DataFrame(denselist1,columns=feature_nam)

In [49]:
df1

,and,document,first,is,one,second,the,third,this
0,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085
1,0.000000,0.687624,0.000000,0.281089,0.000000,0.538648,0.281089,0.000000,0.281089
2,0.511849,0.000000,0.000000,0.267104,0.511849,0.000000,0.267104,0.511849,0.267104
3,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085

In [5]:
print(vectorizer.get_feature_names())
print(X.shape)

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']
(4, 9)

In [6]:
X

<4x9 sparse matrix of type '<class 'numpy.float64'>'
	with 21 stored elements in Compressed Sparse Row format>

In [7]:
print(X)

  (0, 8)	0.38408524091481483
  (0, 3)	0.38408524091481483
  (0, 6)	0.38408524091481483
  (0, 2)	0.5802858236844359
  (0, 1)	0.46979138557992045
  (1, 8)	0.281088674033753
  (1, 3)	0.281088674033753
  (1, 6)	0.281088674033753
  (1, 1)	0.6876235979836938
  (1, 5)	0.5386476208856763
  (2, 8)	0.267103787642168
  (2, 3)	0.267103787642168
  (2, 6)	0.267103787642168
  (2, 0)	0.511848512707169
  (2, 7)	0.511848512707169
  (2, 4)	0.511848512707169
  (3, 8)	0.38408524091481483
  (3, 3)	0.38408524091481483
  (3, 6)	0.38408524091481483
  (3, 2)	0.5802858236844359
  (3, 1)	0.46979138557992045

In [8]:
TEXTA = 'the man went out for a walk'
TEXTB = 'the children sat around the fire'

In [9]:
bowA = TEXTA.split(' ')
bowB = TEXTB.split(' ')

In [11]:
uniqueW = set(bowA).union(set(bowB))

In [12]:
uniqueW

{'a',
 'around',
 'children',
 'fire',
 'for',
 'man',
 'out',
 'sat',
 'the',
 'walk',
 'went'}

In [14]:
nowA = dict.fromkeys(uniqueW, 0)
for word in bowA:
    nowA[word] += 1
nowB = dict.fromkeys(uniqueW, 0)
for word in bowB:
    nowB[word] += 1

In [15]:
nowA

{'went': 1,
 'walk': 1,
 'man': 1,
 'sat': 0,
 'children': 0,
 'a': 1,
 'fire': 0,
 'around': 0,
 'out': 1,
 'the': 1,
 'for': 1}

In [17]:
from nltk.corpus import stopwords

In [19]:
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

In [21]:
tfA = computeTF(nowA, bowA)
tfB = computeTF(nowB, bowB)

In [23]:
def computeIDF(documents):
    import math
    N = len(documents)
    
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [24]:
idfs = computeIDF([nowA, nowB])

In [25]:
idfs

{'went': 0.6931471805599453,
 'walk': 0.6931471805599453,
 'man': 0.6931471805599453,
 'sat': 0.6931471805599453,
 'children': 0.6931471805599453,
 'a': 0.6931471805599453,
 'fire': 0.6931471805599453,
 'around': 0.6931471805599453,
 'out': 0.6931471805599453,
 'the': 0.0,
 'for': 0.6931471805599453}

In [26]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [29]:
tfidfA = computeTFIDF(tfA, idfs)
tfidfB = computeTFIDF(tfB, idfs)
df = pd.DataFrame([tfidfA, tfidfB])

In [30]:
df

,a,around,children,fire,for,man,out,sat,the,walk,went
0,0.099021,0.000000,0.000000,0.000000,0.099021,0.099021,0.099021,0.000000,0.0,0.099021,0.099021
1,0.000000,0.115525,0.115525,0.115525,0.000000,0.000000,0.000000,0.115525,0.0,0.000000,0.000000

In [33]:
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([TEXTA, TEXTB])
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)

In [45]:
TEXTA

'the man went out for a walk'

In [46]:
TEXTB

'the children sat around the fire'

In [34]:
df

,around,children,fire,for,man,out,sat,the,walk,went
0,0.000000,0.000000,0.000000,0.42616,0.42616,0.42616,0.000000,0.303216,0.42616,0.42616
1,0.407401,0.407401,0.407401,0.00000,0.00000,0.00000,0.407401,0.579739,0.00000,0.00000

In [41]:
print(feature_names)

print(uniqueW)

print(dense)
print(denselist)

['around', 'children', 'fire', 'for', 'man', 'out', 'sat', 'the', 'walk', 'went']
{'went', 'walk', 'man', 'sat', 'children', 'a', 'fire', 'around', 'out', 'the', 'for'}
[[0.         0.         0.         0.4261596  0.4261596  0.4261596
  0.         0.30321606 0.4261596  0.4261596 ]
 [0.40740124 0.40740124 0.40740124 0.         0.         0.
  0.40740124 0.57973867 0.         0.        ]]
[[0.0, 0.0, 0.0, 0.42615959880289433, 0.42615959880289433, 0.42615959880289433, 0.0, 0.3032160644503863, 0.42615959880289433, 0.42615959880289433], [0.40740123733358447, 0.40740123733358447, 0.40740123733358447, 0.0, 0.0, 0.0, 0.40740123733358447, 0.5797386715376657, 0.0, 0.0]]

In [44]:
print(vectors)

  (0, 7)	0.3032160644503863
  (0, 4)	0.42615959880289433
  (0, 9)	0.42615959880289433
  (0, 5)	0.42615959880289433
  (0, 3)	0.42615959880289433
  (0, 8)	0.42615959880289433
  (1, 7)	0.5797386715376657
  (1, 1)	0.40740123733358447
  (1, 6)	0.40740123733358447
  (1, 0)	0.40740123733358447
  (1, 2)	0.40740123733358447